@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { roomID = item.RoomID, amenitiesID = item.AmenitiesID }) |
                        @Html.ActionLink("Delete", "Delete", new { roomID = item.RoomID, amenitiesID = item.AmenitiesID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
