<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MVC Web App</title>
</head>
<body>
    <h1>Welcome to the ASync Inn</h1>
    <a asp-controller="Hotels">Hotel Page</a>
    <a asp-controller="Rooms">Rooms Page</a>
    <a asp-controller="Amenities">Amenites Page</a>
</body>
</html>